<div id="cart" class="center table">
	<h3>Shopping cart</h3>
	<form>
		<table>
			<tr>
				<th width="250"><span class="fl">Item</span></th>
				<th width="100"><span class="fl">Price</span></th>
				<th width="100">
					<span class="fl">Amount</span>
				</th>
			</tr>
			<tr ng-repeat="item in cart.items">
				<td>{{item.name}}</td>
				<td>SEK {{item.price}}</td>
				<td>
					<div class="fr">
						<span>&#9650;</span></br>
						<span>&#9660;</span>
					</div>
					<input type="text" class="fr" value="{{item.amount}}" style="width:80%; margin-top:7px;"/>
				</td>
			</tr>
		</table>
		</br>
		<span class="fr">TOTAL: SEK 300</span>
		</br>
		</br>
		<a href="#/receipt" class="button fr" ng-click="saveOrders()">Check out</a>
	</form>
</div>