<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../index.css"/>
	</head>
	<body>
		<div id="cart" class="center table">
			<h3>Shopping cart</h3>
			<form>
				<table>
					<tr>
						<th width="250"><span class="fl">Item</span></th>
						<th width="100"><span class="fl">Price</span></th>
						<th width="100">
							<span class="fl">Amount</span>
						</th>
					</tr>
					<tr>
						<td>Floral Belted Dress</td>
						<td>SEK 300</td>
						<td>
							<div class="fr">
								<span>&#9650;</span></br>
								<span>&#9660;</span>
							</div>
							<input type="text" class="fr" value="1" style="width:80%; margin-top:7px;"/>
						</td>
					</tr>
				</table>
				</br>
				<span class="fr">TOTAL: SEK 300</span>
				</br>
				</br>
				<button class="fr">Check out</button>
			</form>
		</div>
	</body>
</html>