<ng-include src="'partials/navbar.html'"></ng-include>
<div id="cart" class="mainContainer center table">
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<h3>Shopping cart</h3>
	<form>
		<table>
			<tr>
				<th width="50" style="background-color:white;"></th>
				<th width="250"><span class="fl">Item</span></th>
				<th width="100"><span class="fl">Price</span></th>
				<th width="100"><span class="fl">Size</span></th>
				<th width="100"><span class="fl">Color</span></th>
				<th width="100"><span class="fl">Amount</span></th>
			</tr>
			<tr ng-repeat="item in cart.items track by $index">
				<td style="background-color:white;"><img id="{{item.Id}}" data-item="{{item}}" src="images/button-remove_red.png" style="width:40px;height:40px;margin-top:10px;cursor:pointer;" ng-click="removeItem($event)"/></td>
				<td>{{item.name}}</td>
				<td>SEK {{item.price}}</td>
				<td>{{item.size}}</td>
				<td>{{item.color}}</td>
				<td><input type="number" class="fr" value="{{item.amount}}" style="width:95%; margin-top:7px;"/></td>
			</tr>
		</table>
		</br>
		<span class="fr">TOTAL: SEK {{getTotalCost()}}</span>
		</br>
		</br>
		<a href="#" class="button fr" ng-click="saveOrders($event)">Check out</a>
	</form>
</div>