<ng-include src="'partials/navbar.html'"></ng-include>
<div id="change" class="mainContainer center table">
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<div id="change_screen" ng-show="not_changed">
		<h1>Change your password</h1>
		<table>
			<tr>
				<td colspan="2" width="300px">Old password</td>
			</tr>
			<tr>
				<td colspan="2">
					<input id="userInfo" name="userPassword" ng-model="oldPassword" type="password"></input>
				</td>
			</tr>
			<tr>
				<td colspan="2" width="300px">New password</td>
			</tr>
			<tr>
				<td colspan="2">
					<input id="userInfo" name="userPassword" ng-model="newPassword" type="password"></input>
				</td>
			</tr>
		</table>
		<a class="button fr" ng-click="changePassword()">Confirm</a>
	</div>
	<div id="change_message" ng-show="changed">Password changed successfully!</div>
</div>