<ng-include src="'partials/navbar.html'"></ng-include>
<div id="change" class="mainContainer center table">
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<div id="change_screen" ng-show="not_changed">
		<h1>Change your password</h1>
		<form name="myForm" ng-submit="changePassword(myForm)">
			Old password:
			</br>
			<input id="userInfo" name="userPassword" ng-model="oldPassword" type="password" required></input>
			</br>
			</br>
			New password:
			</br>
			<input id="userInfo" name="userPassword" ng-model="newPassword" type="password" required></input>
			</br>
			</br>
			<input type="submit" class="button fr" value="Confirm"/>
		</form>
		<span style="color:red;" >{{status}}</span>
	</div>
	<div id="change_message" ng-show="changed" style="color:green;font-size:25px;"></br></br>Password changed successfully!</div>
	
</div>