<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../index.css"/>
	</head>
	<body>
		<div id="editAccount" class="centerContent">
			<h1>Edit Account</h1>
			<form>
				<table class="center">
					<tr>
						<td colspan="2" width="300px"><h3 style="margin-top: 15px; margin-bottom: 0;">Personal details</h3></td>
					</tr>
					<tr>
						<td>First name:</td>
						<td>
							<input type="text" value="Anna" />
						</td>
					</tr>
					<tr>
						<td>Last name:</td>
						<td>
							<input type="text" value="Svensson" />
						</td>
					</tr>
					<tr>
						<td>Mobile:</td>
						<td>
							<input type="text" value="0456200322" />
						</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>
							<input type="text" value="annasvensson@kth.se" />
						</td>
					</tr>
					<tr>
						<td colspan="2"><h3 style="margin-top: 15px; margin-bottom: 0;">Shipping Address</h3></td>
					</tr>
					<tr>
						<td>C/o:</td>
						<td>
							<input type="text" value="Maria Svensson" />
						</td>
					</tr>
					<tr>
						<td>Street name:</td>
						<td>
							<input type="text" value="Sturegatan 13 Lgh 1502" />
						</td>
					</tr>
					<tr>
						<td>Postal code:</td>
						<td>
							<input type="text" value="17600" />
						</td>
					</tr>
					<tr>
						<td>City:</td>
						<td>
							<input type="text" value="Stockholm" />
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button style="float:right; margin-top:20px;">Save</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>