<ng-include src="'partials/navbar.html'"></ng-include>
<div id="editAccount" class="mainContainer center table">
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<h1>Edit Account</h1>
	<form name="myForm" novalidate ng-submit="updateProfile(myForm)">
		<table>
			<tr>
				<td colspan="2" width="300px"><h3 style="margin-top: 15px; margin-bottom: 0;">Personal details</h3></td>
			</tr>
			<tr>
				<td>First name:</td>
				<td>
					<input id="userInfo" type="text" ng-model="fname" required/>
				</td>
			</tr>
			<tr>
				<td>Last name:</td>
				<td>
					<input id="userInfo" type="text" ng-model="lname" required/>
				</td>
			</tr>
			<tr>
				<td>Mobile:</td>
				<td>
					<input id="userInfo" type="text" ng-model="mobile" required/>
				</td>
			</tr>
			<tr>
				<td colspan="2"><h3 style="margin-top: 15px; margin-bottom: 0;">Shipping Address</h3></td>
			</tr>
			<tr>
				<td>C/o:</td>
				<td>
					<input id="userInfo" type="text" ng-model="co" />
				</td>
			</tr>
			<tr>
				<td>Street name:</td>
				<td>
					<input id="userInfo" type="text" ng-model="street" required/>
				</td>
			</tr>
			<tr>
				<td>Postal code:</td>
				<td>
					<input id="userInfo" type="text" ng-model="postalCode" required/>
				</td>
			</tr>
			<tr>
				<td>City:</td>
				<td>
					<input id="userInfo" type="text" ng-model="city" required/>
				</td>
			</tr>
		</table>
		<input type="submit" style="margin-top:20px;" class="button fr" value="Save"/>
		<a href="#/profile" style="margin-top:20px;background-color:brown;" class="button fl">Cancel</a>
	</form>
	</br></br></br>
	<span style="color:red;display:block;" ng-show="noSuccesed">{{message}}</span>
</div>