<ng-include src="'partials/navbar.html'"></ng-include>
<div id="editAccount" class="mainContainer center table">
	<button style="display:block; margin-top:-25px;" ng-click="$back()">Back to previous page</button>
	<h1>Edit Account</h1>
	<form>
		<table>
			<tr>
				<td colspan="2" width="300px"><h3 style="margin-top: 15px; margin-bottom: 0;">Personal details</h3></td>
			</tr>
			<tr>
				<td>First name:</td>
				<td>
					<input type="text" ng-model="fname"/>
				</td>
			</tr>
			<tr>
				<td>Last name:</td>
				<td>
					<input type="text" ng-model="lname" />
				</td>
			</tr>
			<tr>
				<td>Mobile:</td>
				<td>
					<input type="text" ng-model="mobile" />
				</td>
			</tr>
			<tr>
				<td colspan="2"><h3 style="margin-top: 15px; margin-bottom: 0;">Shipping Address</h3></td>
			</tr>
			<tr>
				<td>C/o:</td>
				<td>
					<input type="text" ng-model="co" />
				</td>
			</tr>
			<tr>
				<td>Street name:</td>
				<td>
					<input type="text" ng-model="street" />
				</td>
			</tr>
			<tr>
				<td>Postal code:</td>
				<td>
					<input type="text" ng-model="postalCode" />
				</td>
			</tr>
			<tr>
				<td>City:</td>
				<td>
					<input type="text" ng-model="city" />
				</td>
			</tr>
		</table>
		<a href="#/profile" style="margin-top:20px;" class="button fr" ng-click="updateProfile()">Save</a>
		<a href="#/profile" style="margin-top:20px;" class="button fl">Cancel</a>
	</form>
</div>