<ng-include src="'partials/navbar.html'"></ng-include>
<div id="login" class="mainContainer center table">
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<h1>Customer Service</h1>
	</br>
	<strong>Telephone</strong>
	</br>
	0046-00 00 00
	</br></br>
	<strong>Opening hours</strong>
	</br>
	Monday - Friday 07.00-21.00
	</br>
	Saturday - Sunday 09.00-19.00
	</br></br>
	<strong>Email</strong>
	</br>
	customerservice@onlineclothingstore.com
	</br></br>
	<strong>Fax</strong>
	</br>
	033-15 51 23
	</br></br>
	<strong>Address</strong>
	</br>
	Online Clothing Store
	</br>
	Customer Service
	</br>
	50189 Stockholm
</div>
