<ng-include src="'partials/navbar.html'"></ng-include>
<div class="categories">
	<ul class="category_list">
		  <li><a href="#/sale">Sale</a></li>
		  <li><a href="#/mens">Mens</a></li>
		  <li><a href="#/womens">Womens</a></li>
		  <li><a href="#/kids">Kids</a></li>
		  <li><a href="#/accessories">Accessories</a></li>
	</ul>
</div>
<div class="content">
	<div class="featured">
		<h2>Featured</h2>
		<div ng-repeat="item in category.items">
			<img class="clothing" ng-src="{{item.Image}}"/>
			<h3>{{item.Title}}</h3>
			<span class="price">{{item.Price}}</span>
			<button id="item.Id" class="add_to_cart">Add To Cart</button>
		</div>
	</div>
</div>