<ng-include src="'partials/navbar.html'"></ng-include>
<div class="categories">
	<ul class="category_list">
		  <li><a href="#/home" ng-click="goToHome('Featured')">Home</a></li>
		  <li><a href="#/home" ng-click="goToHome('Mens')">Men's</a></li>
		  <li><a href="#/home" ng-click="goToHome('Womens')">Women's</a></li>
		  <li><a href="#/home" ng-click="goToHome('Kids')">Kids'</a></li>
		  <li><a href="#/home" ng-click="goToHome('Accessories')">Accessories</a></li>
		  <li><a href="#/help-contact" class="fr">Help &#38; Contact</a></li>
	</ul>
</div>
<div class="content maincontainer">
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<div class="clothing_item" style="width:100%;margin-top:10px;">
		<div class="d-ib fl" style="width:35%;">
			<div style="width:100%;border:1px solid gray;border-radius:3px;">
				<img class="clothing" ng-src="{{item.imageUrl}}"/>
			</div>
			<div class="d-ib fl">
				<img class="clothing" ng-src="{{item.imageUrl}}" style="width:70px;height:50px;border:1px solid gray;"/>
			</div>
		</div>
		
		<div class="info d-ib fl" style="width:60%;padding-left:20px;">
			<h3>{{item.Name}}</h3>
			<span class="price">{{item.Price}} SEK</span>
			<br>

			<div class="d-ib">
				<div class="t-lc">
					<strong class="fr" style="margin-left: auto;">Size:</strong>
				</div>
				<div class="t-rc d-ib">
					<select ng-model="selectedSize" ng-options="size for size in sizes" ng-change="getColors()" style="width:200px;height:25px;border-radius:5px;">
						<option value="">---select size---</option>
					</select>
				</div>
			</div>
			
			<br>
			<div class="d-ib">
				<div class="t-lc">
					<strong class="fr" style="margin-left: auto;">Color:</strong>
				</div>
				<div class="t-rc d-ib">
					<select ng-model="selectedColor" ng-options="color for color in colors" ng-change="getAmount()" style="width:200px;height:25px;border-radius:5px;">
						<option value="">---select color---</option>
					</select>
				</div>
			</div>
			<br>
			<div class="d-ib">
				<div class="t-lc">
					<strong class="fr" style="margin-left: auto;">Amount:</strong>
				</div>
				<div class="t-rc d-ib">
					<input type="number" ng-model="selectedAmount" min="1"></input> {{amount}} available
				</div>
			</div>
			<br>
			<button style="border-radius:10px;" id="{{item.Id}}" class="add_to_cart" ng-click="addToCart()">Add To Cart</button>
			<br>
			<span ng-show="addedToCart" style="color:green;text-align:center;display:block;">Added to cart</span>
			<br>
			<div class="d-ib">
				<div class="t-lc">
					<strong class="fr" style="margin-left: auto;">Category:</strong>
				</div>
				<div class="t-rc d-ib">
					{{item.Category}}
				</div>
			</div>
			<br>
			<div class="d-ib">
				<div class="t-lc">
					<strong class="fr" style="margin-left: auto;">Region of Manufacture:</strong>
				</div>
				<div class="t-rc d-ib">
					{{item.Country}}
				</div>
			</div>
			<br><br>
			<div class="d-ib">
				<strong>Description</strong>
				<br>
				{{item.Description}}
			</div>
		</div>
	</div>
</div>
<div class="content" id="recommendations" ng-controller="HomeCtrl" style="width:100%;margin-top:50px;">
	<h4 style="font-size: 18px; text-align:left;">You might also like:</h4>
	<div ng-repeat="items in category" style="border:1px solid black;">
		<div class="clothing_item itemBox" ng-repeat="item in items" style="text-align:center;padding:0 5px 0 5px;margin-right:5px;">
			<a href="#/item/{{item.Id}}"><img class="clothing" ng-src="{{item.imageUrl}}" style="width:100px;height:120px;"/></a>
			<a href="#/item/{{item.Id}}" style="font-size:15px;">{{item.Name | shorten}}<a>
			</br>
			<strong style="color:black;">{{item.Price}} SEK</strong>
		</div>
	</div>
</div>