<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../index.css"/>
	</head>
	<body>
		<div id="signIn" class="centerContent">
			<h1>Sign In</h1>
			<form>
				<table class="center">
					<tr>
						<td colspan="2" width="300px">Email</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="text"/>
						</td>
					</tr>
					<tr>
						<td>Password</td>
						<td>
							<a href="#" style="float:right;">Forgot your password?</a>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="text"></td>
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" value="Sign In"/>
						</td>
						<td>
							<input type="button" value="Create a new account"/>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>