<ng-include src="'partials/navbar.html'"></ng-include>
<div id="login" class="mainContainer center table">
	<div id="loading" ng-show="loading"></div>
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<h1>Sign In</h1>
	<form ng-submit="logIn()">
		<table>
			<tr>
				<td colspan="2" width="300px">Email</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="email" ng-model="email" required/>
				</td>
			</tr>
			<tr>
				<td>Password</td>
				<td>
					<a href="#/reset-password" style="float:right;">Forgot your password?</a>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="password" ng-model="password" required></td>
				</td>
			</tr>
		</table>
		</br>
		<input type="submit" value="Sign In"/>
		<a href="#/register" class="button fr">Create a new account</a>
	</form>
	</br>
	<span class="response" style="color:red;" ng-show="noSuccessed">{{status}}</span>
</div>
