<ng-include src="'partials/navbar.html'"></ng-include>
<div id="login" class="mainContainer center table">
	<div id="loading" ng-show="loading"></div>
	<button class="backButton" ng-click="$back()">Back to previous page</button>
	<h1>Sign In</h1>
	<form ng-submit="logIn()">
		<table>
			Email:
			</br>
			<input id="userInfo" type="email" ng-model="email" required style="background-color: rgba(144, 173, 255, 0.2);"/>
			</br>
			</br>
			Password:
			<a href="#/reset-password" style="float:right;">Forgot your password?</a>
			</br>
			<input id="userInfo" type="password" ng-model="password" required style="background-color: rgba(144, 173, 255, 0.2);"></td>
			</br>
		</table>
		</br>
		<input type="submit" value="Sign In" class="button fl" />
		<a href="#/register" class="button fr" style="background-color: rgb(255, 144, 144);">Create a new account</a>
	</form>
	</br>
	<span class="response" style="color:red;" ng-show="noSuccessed">{{status}}</span>
</div>
