<div id="header" ng-controller="NavbarCtrl" ng-init="init()">
	<h1><a href="#/home">Online Clothing Store</a></h1>
		<div id="search_input">
			<input placeholder="Search for products"/>
			<button><img src="/images/search-icon.png"/></button>
		</div>
	
	<a href="#/profile">{{full_name}}</a>
	<a href="#/cart" class="shopping_cart" style="margin-top: 15px;"><span style="color: #d3941a; margin-left: 5px;">{{itemsAmount}}</span></a>
	<a href="#/home" ng-click="logOut()" ng-show="loggedIn">Log Out</a>
	<a href="#/login" ng-show="notLoggedIn">Log In</a>
</div>