<div id="header" ng-controller="NavbarCtrl" ng-init="init()">
	<div class="maincontainer center">
		<a href="#/home" style="margin-top: 0px;">
			<img src="images/logo.png" height="110px" width="auto"></img>
		</a>

		<div id="search_input" ng-controller="HomeCtrl">
			<input style="height:28px;border-top-left-radius:10px;border-bottom-left-radius:10px;border:0px;padding-left:5px;" type="text" ng-model="query" placeholder="Search for products" ng-keyup="keyUpFunction(query)"/>
			<button ng-click="getSearch(query)" id="searchButton"><img src="/images/search-icon.png"/></button>
			<div id="search-input-frame" ng-repeat="items in searchResult | filter:query" style="display: block; background-color: #FFFFFF; border: 1px solid #A0A0A0;">
				<div ng-repeat="item in items"><a href="#/item/{{item.Id}}" class="searchResult">{{item.Name}}</a></div>
			</div>
		</div>
		
		<div id="dMenu-icon" ng-show="loggedIn" ng-click="toggleDMenu($event)" class="fr"></div>
		<a href="#/cart" class="shopping_cart fr" style="margin-top: 10px;	margin-right: 0px;"><span style="color: #FD541B; margin-top: -5px; margin-left: 5px; font-size:14px;">{{itemsAmount}}</span></a>
		<a href="#/login" ng-show="notLoggedIn" class="fr">Log In</a>
		<a href="#/profile" ng-show="loggedIn" class="fr">{{full_name}}</a>
		<div id="dropdownMenu" class="fr" style="display:none;">
			<a href="#/home" ng-click="logOut()" ng-show="loggedIn" class="fr">Log Out</a>
			<a href="#/change-password" class="fr">Change Password</a>
		</div>
	</div>
</div>