<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../index.css"/>
	</head>
	<body>
		<div id="profile" class="center table">
			<h3>Anna Svensson</h3>
			<table>
				<tr>
					<th>Personal details</th>
					<th>Shipping Address</th>
				</tr>
				<tr>
					<td>First name: Anna</td>
					<td>Anna Svensson</td>
				</tr>
				<tr>
					<td>Last name: Anna</td>
					<td>C/o Maria Svensson</td>
				</tr>
				<tr>
					<td>Mobile: 0456200322</td>
					<td>Sturegatan 13 Lgh 1502</td>
				</tr>
				<tr>
					<td>Email: annasvensson@kth.se</td>
					<td>17600 Stockholm</td>
				</tr>
			</table>
			</br>
			<button>Edit Profile</button>
			<h2>My Purchases:</h2>
			<div>
				<hr/>
				<span>Order date: 12-05-2016T09:00:04.00</span><span class="fr">Order Nr: 466567574</span>
				<table class="center">
					<tr>
						<th width="250"><span class="fl">Item</span></th>
						<th width="100"><span class="fl">Price</span></th>
						<th width="100">
							<span class="fl">Amount</span>
						</th>
					</tr>
					<tr>
						<td>Floral Belted Dress</td>
						<td>SEK 300</td>
						<td>1x</td>
					</tr>
				</table>
				</br>
				<span>Shipped: Ongoing</span>
				<span class="fr">TOTAL: SEK 300</span>
				</br></br>
			</div>
			<div>
				<hr/>
				<span>Order date: 01-05-2016T09:00:04.00</span><span class="fr">Order Nr: 466567574</span>
				<table class="center">
					<tr>
						<th width="250"><span class="fl">Item</span></th>
						<th width="100"><span class="fl">Price</span></th>
						<th width="100">
							<span class="fl">Amount</span>
						</th>
					</tr>
					<tr>
						<td>Floral Belted Dress</td>
						<td>SEK 300</td>
						<td>1x</td>
					</tr>
				</table>
				</br>
				<span>Shipped: 02-05-2016</span>
				<span class="fr">TOTAL: SEK 300</span>
				</br></br>
			</div>
		</div>
	</body>
</html>