<div id="profile" class="center table">
	<h3>{{full_name}}</h3>
	<table>
		<tr>
			<th>Personal details</th>
			<th>Shipping Address</th>
		</tr>
		<tr>
			<td>First name: {{fname}}</td>
			<td>{{full_name}}</td>
		</tr>
		<tr>
			<td>Last name: {{lname}}</td>
			<td>C/o {{co}}</td>
		</tr>
		<tr>
			<td>Mobile: {{mobile}}</td>
			<td>{{street}}</td>
		</tr>
		<tr>
			<td>Email: {{email}}</td>
			<td>{{postalCode}} {{city}}</td>
		</tr>
	</table>
	</br>
	<a href="#/edit-account" class="button">Edit Profile</a>
	<h2>My Purchases:</h2>
	<div ng-repeat="order in orders">
		<hr/>
		<span>Order date: {{order.date}}</span><span class="fr">Order Nr: {{order.orderNr}}</span>
		<table class="center">
			<tr>
				<th width="250"><span class="fl">Item</span></th>
				<th width="100"><span class="fl">Price</span></th>
				<th width="100">
					<span class="fl">Amount</span>
				</th>
			</tr>
			<tr ng-repeat="item in order.items">
				<td>{{item.name}}</td>
				<td>SEK {{item.price}}</td>
				<td>{{item.amount}}x</td>
			</tr>
		</table>
		</br>
		<span>Shipped: {{order.shipped}}</span>
		<span class="fr">TOTAL: SEK 300</span>
		</br></br>
	</div>
</div>