<ng-include src="'partials/navbar.html'"></ng-include>
<div id="receipt" class="center table">
	Thank for your order!
	<button class="fr">Go back to home</button>
	<h3>Receipt</h3>
	Order Nr: {{orderNr}}
	<table>
		<tr>
			<th width="250"><span class="fl">Item</span></th>
			<th width="100"><span class="fl">Price</span></th>
			<th width="100">
				<span class="fl">Amount</span>
			</th>
		</tr>
		<tr ng-repeat="item in items">
			<td>{{item.name}}</td>
			<td>SEK {{item.price}}</td>
			<td>{{item.amount}}x</td>
		</tr>
	</table>
	</br>
	<span class="fr">TOTAL: SEK 300</span>
</div>