<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../index.css"/>
	</head>
	<body>
		<div id="receipt" class="center">
			Thank for your order!
			<button class="fr">Go back to home</button>
			<h3>Receipt</h3>
			Order Nr: 466567574
			<table class="center">
				<tr>
					<th width="250"><span class="fl">Item</span></th>
					<th width="100"><span class="fl">Price</span></th>
					<th width="100">
						<span class="fl">Amount</span>
					</th>
				</tr>
				<tr>
					<td>Floral Belted Dress</td>
					<td>SEK 300</td>
					<td>1x</td>
				</tr>
			</table>
			</br>
			<span class="fr">TOTAL: SEK 300</span>
		</div>
	</body>
</html>